<html lang="en" xmlns:th="http://www.thymeleaf.org"> 

<html lang="en">    
<head>    
<title>Index Page</title>    
</head>    
<body>    
<form action="save" method="post">    
<table>  
<tr>    
<td><label for="roll-number">Student Name</label></td>    
<td><input type="number" name="rollNo"></input></td>    
</tr>    
<tr>    
<td><label for="student-name">Student Name</label></td>    
<td><input type="text" name="name"></input></td>    
</tr>    
<tr>    
<td><label for="email">Email</label></td>    
<td><input type="email" name="email"></input></td>    
</tr>
<tr>    
<td><label for="marks">Email</label></td>    
<td><input type="number" name="marks"></input></td>    
</tr>
<tr>    
<td><label for="email">Email</label></td>    
<td><input type="text" name="location"></input></td>    
</tr>
<tr>    
<td><label for="gender">Email</label></td>    
<td><input type="text" name="gender"></input></td>    
</tr>
<tr>    
<td><label for="birthDate">Email</label></td>    
<td><input type="date" name="birthDate"></input></td>    
</tr>
<tr>    
<td><label for="aadharNo">Email</label></td>    
<td><input type="number" name="aadharNo"></input></td>    
</tr>        
<td></td>    
<td><input type="submit" value="Submit"></input></td>    
</tr>    
</table>    
</form>    
</body>    
</html>  