<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>

<html xmlns:th="https://thymeleaf.org">    
<table>
<tr>    
<td><h4>Roll Number: </h4></td>    
<td><h4 th:text="${student.rollNo}"></h4></td>    
</tr>             
<tr>    
<td><h4>Student Name: </h4></td>    
<td><h4 th:text="${student.name}"></h4></td>    
</tr>    
<tr>    
<td><h4>Email ID: </h4></td>    
<td><h4 th:text="${student.email}"></h4></td>    
</tr>
<tr>    
<td><h4>Marks: </h4></td>    
<td><h4 th:text="${student.marks}"></h4></td>    
</tr>
<tr>    
<td><h4>Location: </h4></td>    
<td><h4 th:text="${student.location}"></h4></td>    
</tr>
<tr>    
<td><h4>Gender: </h4></td>    
<td><h4 th:text="${student.gender}"></h4></td>    
</tr>
<tr>    
<td><h4>Birthdate: </h4></td>    
<td><h4 th:text="${student.birthDate}"></h4></td>    
</tr>  
<tr>    
<td><h4>Aadhar No: </h4></td>    
<td><h4 th:text="${student.aadharNo}"></h4></td>    
</tr>    
</table>    
</html>  